.main {
  margin: 60px auto;
  background: #eee;
  border-radius: 8px;
}

.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 5px;
}

body {
  background-color: #00ac96;
}

.input-wrapper {
  border-radius: 5px;
}
.chat-drawer {
  padding: 5px 15px;

  background: #fff;
  border-radius: 8px;
}
/* * {
  border: 1px solid red;
} */

.status {
  font-size: 12px;
}

.chat-panel {
  background: #fff;
  height: 600px;
  border-radius: 8px;
  position: relative;
}

.chat-bubble {
  padding: 10px 15px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 8px;
  position: relative;
}

.friend {
  background: #00ac96;
  color: #fff;
}

.chat-box {
  background: #eee;
  border-radius: 0 0 8px 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.chat-drawer:hover {
  background: #85e6d9;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}
