.content {
  margin: 8%;
  background-color: #ffff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
body {
  background-color: #00ac96;
}

.main {
  margin: 60px auto;
  background: #fff;
  border-radius: 8px;
}

.user-profile {
  background: #eee;
  padding: 10px 15px;
  border-radius: 8px;
}
.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.friend-drawer {
  padding: 5px 15px;

  background: white;
  border-radius: 8px;
}

.friend-drawer:hover {
  background: #b0e0e6;
  cursor: pointer;
}

.material-icons:hover {
  cursor: pointer;
  opacity: 0.5;
}

.chat-drawer {
  padding: 5px 15px;
  background: #eee;
  border-radius: 8px;
  height: 25%;
}

.chat-setting {
  background: #eee;
  height: 25%;
}

.chat-bubble {
  padding: 10px 15px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 8px;
  position: relative;
}
.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
